*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100vh;
}

#back{
    width: 100%;
    height: 100vh;
   
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#top{
    width: 100%;
    height: 100vh;
    position: absolute; /*so that top wala div  upper aa skee back wale div ke */
    top: 0;
    left: 0;
    /*background-color: #000000d8; */  
    pointer-events: none;
}

#workingarea{
    height: 100vh;
    width: 80%;
    max-width: 1920px;
    margin: 0 auto; /* so that it is bee on center */
   /* border: 2px solid red; */

    position: relative;  /* For giving position absolute to hero div*/

}

#nav{
    width: 100%;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}



#nleft, #nright{
    display: flex;
    align-items: center;
    gap: 60px;
}



#nav a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    pointer-events: all;

}

#hero {
    width: 100%;
   
    display: flex;
    justify-content: space-between;
   

    /* now the below code is for giving center position to hero(height wise center me lane ke liye) */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
    margin-top: 50px;
}

#heroleft{
    min-width: 50%;
    /*background-color: yellow; */
    
}
#heroleft .elem{
    height: 9vw;
    position: relative;
   /* background-color: red;  */
    overflow: hidden; 

}

#heroleft .elem h1:nth-child(1){
    top: 0;
}

#heroleft .elem h1{
    line-height: 0.9;
    font-family: "kajiro";
    color: white;
    font-weight: 100;
    font-size: 11vw;
    position: absolute;
    top: 100%;
    left: 0;
    
}

#heroleft button{
    font-family: 'kajiro';
    padding: 0.8vw 3vw;
    font-size: 3vw;
    margin-top: 4vw;
    pointer-events: all;
}

#heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 17%;
    color: #fff;
   /* background-color: green;  */
}
#heroright p{
    text-align: right;
    font-size: 14px;
    font-weight: 300;

}



#gap{
    margin-bottom: 50px;
}


#heroright #imagediv{
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url(https://images.unsplash.com/photo-1527203561188-dae1bc1a417f?q=80&w=1915&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

}

#hright p:nth-child(3){
    margin-bottom: 100px;
}
